.env
.env.local
.env.bak
.env.*
!.env.example

# Dossiers IDE
.idea/
.vscode/
*.swp
*.swo

README_draft.md
/Dockerfile

.gitignore
/test/
test endnote.py
test_load_saved_project.py
test_save_projet.py
test_table_rob.py