{% extends 'base.html' %}

{%  block content %}

<p>
    <a href="/records/list/{{ project_id }}" class="return_arrow">
    <i class="bi bi-arrow-left"></i> return to the reference list
    </a>
</p>


{%  macro display_table(rows) %}
    <table class="table table-condensed table-hover table-sm mb-5" style="font-size: smaller;">
        <tr>
            <th>id</th>
            <th style="width: 48%;">Abstract</th>
            <th style="width: 48%;">AI suggestion</th>
        </tr>
        {% for row in rows %}
            <tr>
            <td>{{ row['id'] }}</td>
           <td>
                {{ row['selection'] | safe }}
                {{ row['abstract'] | safe }}
            </td>
            <td>
                {{ row['AI_decision'] | safe }}
                {{ row['AI_answer'] | safe }}
            </td>
            </tr>
        {% endfor %}
    </table>

{%  endmacro %}


<h1>AI human crosschecking </h1>

    <h3 class="mt-6">False negative of AI</h3>
    <p>Included by human but excluded by AI</p>
    {{ display_table(table1) }}

    <h3 class="mt-6">False positive of AI</h3>
    <p>Excluded by human but included by IA</p>
    {{ display_table(table2) }}

    <h3 class="mt-6">True positive of AI</h3>
    <p>Agreement on inclusion </p>
    {{ display_table(table3) }}

    <h3 class="mt-6">True negative of AI</h3>
    <p>Agreement on exclusion </p>
    {{ display_table(table4) }}


{%  endblock %}