{% extends 'base.html' %}


{%  block content %}


        <p class="mt-3 mb-3">
            <a href="/project/update_fields/{{ project_id }}" class="return_arrow">
                <i class="bi bi-arrow-left"></i> return to the extraction fields list
            </a>
        </p>

    <h1>Extraction field edit <small class="text-secondary">field #{{ field_id }}</small></h1>

        <form>

            <div class="mb-4">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name"
                       value="{{ field_data['name'] }}" hx-post="/extraction_field/modif/{{ field_id }}/name"
                       hx-trigger="change" hx-target="#name_info" hx-swap="innerHTML"/>
                <div id="name_info" class="form-text"></div>
            </div>

            <div class="mb-4">
                <label for="description" class="form-label">Description</label>
                <textarea rows="4" class="form-control" id="description" name="description"
                          hx-post="/extraction_field/modif/{{ field_id }}/description"
                          hx-trigger="change" hx-target="#description_info"
                          hx-swap="innerHTML">{{ field_data['description'] }}</textarea>
                <div id="description_info" class="form-text">
                    Description that will be incorporated into the prompt for the AI extraction tool
                </div>
            </div>

            <div class="mb-4">
                <label for="category" class="form-label">category</label>
                <input type="text" class="form-control" id="category" name="category"
                       value="{{ field_data['category'] }}" hx-post="/extraction_field/modif/{{ field_id }}/category"
                       hx-trigger="change" hx-target="#category_info" hx-swap="innerHTML"/>
                <div id="category_info" class="form-text"></div>
            </div>

        </form>



{%  endblock %}


