{% extends 'base.html' %}

{%  block content %}
    <!-- Sortable.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.0/Sortable.min.js"></script>
<style>
    .sortable-ghost {
        opacity: 0.4;
        background-color: #c8ebfb;
    }

    .sortable-drag {
        background-color: #f8f9fa;
    }

    .drag-handle {
        cursor: move;
        padding: 5px;
    }

    tbody tr {
        transition: all .3s ease;
    }
</style>


    {%  set page = 'setup' %}
    {% include '_navbar1.html' %}


    <div class="mb-5">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link " href="/project/edit/{{ project_id }}"
                   style="width: 15rem; text-align: center;">
                    Protocol
                    {%  if eligibility_criteria_empty %}
                        <span class="position-absolute top-n2 start-99 translate-left p-1 bg-danger border border-light rounded-circle">
                            <span class="visually-hidden">Nouvelle notification</span>
                        </span>
                    {% endif %}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/project/update_fields/{{ project_id }}"
                   style="width: 15rem; text-align: center;">
                    Extraction fields
                    {%  if fields==[] %}
                        <span class="position-absolute top-n2 start-99 translate-left p-1 bg-danger border border-light rounded-circle">
                            <span class="visually-hidden">Nouvelle notification</span>
                        </span>
                    {% endif %}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/outcomes/setup/{{ project_id }}"
                   style="width: 15rem; text-align: center;">
                    Outcome
                    {%  if outcomes_list_empty %}
                        <span class="position-absolute top-n2 start-99 translate-left p-1 bg-danger border border-light rounded-circle">
                            <span class="visually-hidden">Nouvelle notification</span>
                        </span>
                    {% endif %}
                 </a>
            </li>
        </ul>
    </div>

    <div class="row">
        <div class="col-auto">
            <div class="dropdown">
                <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    Import standard fields
                </a>

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/extraction_field/load_standard_fields/{{ project_id }}/RCT">for
                        RCT</a></li>
                    <li><a class="dropdown-item disabled" href="/extraction_field/load_standard_fields/{{ project_id }}/OBS">for
                        observational studies</a></li>
                    <li><a class="dropdown-item" href="/extraction_field/load_standard_fields/{{ project_id }}/DIAG">for
                        diagnostic studies</a></li>
                </ul>
            </div>
        </div>
        <div class="col-auto">
            <a class="btn btn-outline-primary" href="/extraction_field/add/{{ project_id }}">
                <i class="bi bi-plus"></i> add a personalised field
            </a>
        </div>
    </div>


<table class="table table-condensed table-hover mt-3" style="width: auto;">
<thead>
    <tr>
        <th>Field name</th>
        <th>Description</th>
        <th></th>
        <th></th>
    </tr>
</thead>
    <tbody hx-confirm="You are about to delete a study. Are you sure?" hx-target="closest tr" hx-swap="outerHTML swap:1s" id="sortable-table">
    {%  for f in fields %}
        <tr data-id="{{ f['id'] }}" >
        <td>{{ f["name"] }}</td>
        <td>{{ f["description"] }}</td>
        <td>
            <a href="/extraction_field/edit/{{ f["id"] }}/{{ project_id }}"><i class="bi bi-pen"></i></a>
        </td>
        <td style="padding-left: 3em">
            <a hx-delete="/extraction_field/delete/{{ f["id"] }}/{{ project_id }}"><i class="bi bi-trash3"></i></a>
        </td>
        <td class="drag-handle" style="padding-left: 3em">☰</td>
        </tr>
    {%  endfor %}
    {% if fields==[] %}
        <tr>
            <td colspan="4">Empty</td>
        </tr>
    {% endif %}
    </tbody>
</table>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const tableBody = document.getElementById('sortable-table');

        new Sortable(tableBody, {
            animation: 150,
            handle: '.drag-handle',
            ghostClass: 'sortable-ghost',
            dragClass: 'sortable-drag',
            onStart: function(evt) {
                // Désactiver temporairement HTMX pendant le glisser-déposer
                evt.from.setAttribute('data-htmx-disabled', '');
            },
            onEnd: function(evt) {
                // Réactiver HTMX
                evt.from.removeAttribute('data-htmx-disabled');

                const itemIds = Array.from(evt.to.children).map(row => row.dataset.id);

                fetch('/project/fields_update_order/{{ project_id }}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(itemIds)
                });

            }
        });
    });


</script>

    {%  if fields==[] %}
        <br/>
        <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">Warning</h4>
        <p>You have not defined any extraction fields. Please add some fields to your project.</p>
            <p>Extraction fields correspond to the variable you want to describe for each study included in this systematic review</p>
        <hr>
        <p class="mb-0">You can add fields from the list of standard fields corresponding of studies reviewed or you can add personalised field.</p>
        </div>
    {% endif %}


{%  endblock %}