{% extends 'base.html' %}

{%  block content %}

    {%  include "_screening_message.html" %}

<p class="mt-3 mb-3">
    <a href="/records/list/{{ project_id }}/2/1" class="return_arrow">
    <i class="bi bi-arrow-left"></i> return to the reference list (pass 2)
    </a>
</p>

    <h2>
        <a href="/records/screening_pass2_next/{{ record_id }}/{{project_id}}" class="btn btn-outline-primary btn-lg" style="float: right; margin-right: 5em;">Next <i class="bi bi-arrow-right"></i></a>
        Screening - pass 2
    </h2>
    <p>Screening using fulltext</p>

    <H4>Reference #{{ record_id }}</H4>



<div class="row">

<div class="col-md-7">

    {% if pdf_exists %}
        <iframe src="/pdfs/file/{{ record_id }}" width="100%" height="900px" id="pdf_iframe"></iframe>

        <script>
        function ajusterHauteurIframe() {
            const iframe = document.getElementById('pdf_iframe');
            const hauteurFenetre = window.innerHeight;
            const offsetTop = iframe.offsetTop;
            const hauteurFinale = hauteurFenetre - offsetTop;

            iframe.style.height = hauteurFinale + 'px';
        }

        // Appel initial
        ajusterHauteurIframe();

        // Mise à jour lors du redimensionnement
        window.addEventListener('resize', ajusterHauteurIframe);
        </script>
    {% else %}
        <p class="record_source">{{ record_data["author1"] }} {{ record_data["source"] }}</p>
        <p>{{ record_data["registration_number"] }}</p>
        <p class="record_title">{{ record_data["title"] | safe}}</p>
        <p>
            <a href=" /{{ record_data["pmid"] }}" target="_blank">
                PMID: {{ record_data["pmid"] }}
            </a>
            -
            <a href=" /{{ record_data["DOI"] }}" target="_blank">
                DOI: {{ record_data["DOI"] }}
            </a>

        </p>

        <h3 class="mt-5"><i class="bi bi-exclamation-triangle" style="color: red;"></i> PDF not available</h3>

        <p>The PDF file of this reference is not available. Please upload it to allow the pass 2 screening using fulltext.</p>

        <div class="alert alert-warning mb-5 offset-1 col-md-10" role="alert">
            <h4 class="alert-heading">Upload fulltext PDF file</h4>
            <form action="/pdfs/upload_pdf_pass2/{{ record_id }}/{{ project_id }}/pass2" method="post" enctype="multipart/form-data">

                <label for="pdfFile" class="form-label ">PDF file (.pdf) to upload</label>
                <input type="file" class="form-control mb-4" id="pdfFile" name="pdfFile">

                <button type="submit" class="btn btn-primary">Upload pdf</button>
            </form>
        </div>

    {% endif %}


    <div class="alert alert-light mt-7" role="alert" >
        <h5 class="alert-heading ">AI suggestion</h5>
        {{ record_data["AI_answer"] | safe }}
    </div>



</div>

<div class="col-md-5">

    {% include '_screening_buttons.html' %}

<h5 class="mt-5">Eligibility criteria</h5>
<div>
{{ eligibility_criteria | safe }}
</div>



</div>

</div>




{%  endblock %}