{% extends 'base.html' %}

{%  block content %}

    {%  set page = 'screening' %}
    {% include '_navbar1.html' %}

    {# secondary navbar  #}
    <div class="mb-3">

        <ul class="nav nav-pills nav-fill" style="background-color: whitesmoke;">
            <li class="nav-item">
                <a class="nav-link" href="/records/list/{{ project_id }}/1/1" >pass 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/records/list/{{ project_id }}/2/1" >pass 2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#" >flow chart</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/records/second_reviewer/{{ project_id }}"
                   title="compare with the selection performed by the 2nd reviewer">
                    2nd reviewer
                </a>
            </li>
        </ul>

    </div>

    <h5 class="mt-0 mb-4">
        2nd reviewer
    </h5>
    

{%  endblock %}