{% extends 'base.html' %}

{%  block content %}

    {%  include "_screening_message.html" %}

<p class="mt-3 mb-3">
    <a href="/records/list/{{ project_id }}/1/1" class="return_arrow">
    <i class="bi bi-arrow-left"></i> return to the reference list (pass 1)
    </a>
</p>

    <h2>
        <a href="/records/screening_pass1_next/{{ record_id }}/{{project_id}}" class="btn btn-outline-secondary btn-lg" style="float: right; margin-right: 5em;">next <i class="bi bi-arrow-right"></i></a>
        Screening - pass 1
    </h2>
    <p>Screening using title and abstract</p>

    <h4>Reference #{{ record_id }}</h4>



<div class="row">

<div class="col-md-7">

    <p class="record_source">{{ record_data["author1"] }} {{ record_data["source"] }}</p>
    <p>{{ record_data["registration_number"] }}</p>
    <p class="record_title">{{ record_data["title"] | safe}}</p>
    <div class="record_abstract">{{ record_data["abstract"] | safe }}</div>


    <div class="alert alert-light mt-7 mb-2" role="alert" style="margin-top: 5em;">
        <h5 class="alert-heading ">AI suggestion</h5>
        {{ record_data["AI_answer"] | safe }}
    </div>



</div>

<div class="col-md-5">

    {% include '_screening_buttons.html' %}

<h5 class="mt-5">Red words</h5>
<form>
    <textarea rows="4" class="form-control" id="red_words" name="red_words" hx-post="/project/update_field/{{ project_id }}/red_words" hx-trigger="change" hx-target="#red_words_info" hx-swap="innerHTML">{{ project_data["red_words"] }}</textarea>
    <div id="red_words_info" class="form-text"></div>
</form>

<h5>Green words</h5>
<form>
    <textarea rows="4" class="form-control" id="green_words" name="green_words" hx-post="/project/update_field/{{ project_id }}/green_words" hx-trigger="change" hx-target="#green_words_info" hx-swap="innerHTML">{{ project_data["green_words"] }}</textarea>
    <div id="green_words_info" class="form-text"></div>
</form>

</div>

</div>




{%  endblock %}