{% extends 'base_popup.html' %}

{#  TODO se poser la question si on conserve #}

{%  block content %}

<h1>study panel extraction </h1>

    <h2>Study #{{ study_id }}</h2>

        <form class="mt-4">
        <div class="mb-4">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" value="{{ study_data["name"] }}"
                   hx-post="/study/update_field/{{ study_id }}" hx-trigger="change" hx-target="#name_info"
                   hx-swap="innerHTML"/>
            <div id="name_info" class="form-text"></div>
        </div>

        <div class="mb-4">
            <label for="registration_number" class="form-label">registration number</label>
            <input type="text" class="form-control" id="registration_number" name="registration_number"
                   value="{{ study_data["registration_number"] }}" hx-post="/study/update_field/{{ study_id }}"
                   hx-trigger="change" hx-target="#registration_number_info" hx-swap="innerHTML"/>
            <div id="registration_number_info" class="form-text"></div>
        </div>

    </form>


    <H3>Description</H3>
    <form>
            {% for f in data_fields %}
            <div class="mb-4">
                <label for="F{{ f['field_name'] }}" class="form-label">{{ f['field_name'] }}</label>
                <input type="text" class="form-control" id="F{{ f['field_id'] }}" name="F{{ f['field_id'] }}"
                       value="{{ f['value'] }}" hx-post="/study/update_field2/{{ study_id }}/{{ f['field_id'] }}"
                       hx-trigger="change" hx-target="#F{{ f['field_id'] }}_info" hx-swap="innerHTML"/>
                <div id="F{{ f['field_id'] }}_info" class="form-text"></div>
            </div>
        {% endfor %}
    </form>


    <h3>Risk of bias</h3>


    <h3>Results</h3>

{%  endblock %}


