{% extends 'base_study_fullscreen.html' %}

{%  block col2 %}

<ul class="nav nav-tabs mt-0 mb-4">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/study/fullscreen/tab1/{{ study_id }}/{{ project_id }}/{{ record_id }}">Study</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/study/fullscreen/fields/{{ study_id }}/{{ project_id }}/{{ record_id }}">Fields</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/study/fullscreen/ROB/{{ study_id }}/{{ project_id }}/{{ record_id }}">ROB</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/study/fullscreen/results/{{ study_id }}/{{ project_id }}/{{ record_id }}">Results</a>
  </li>
</ul>


            <form>
        <div class="mb-4">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" value="{{ study_data["name"] }}"
                   hx-post="/study/update_field/{{ study_id }}/name" hx-trigger="change" hx-target="#name_info"
                   hx-swap="innerHTML"/>
            <div class="form-text">Study name: acronym or first author, year</div>
            <div id="name_info" class="form-text"></div>
        </div>

        <div class="mb-4">
            <label for="registration_number" class="form-label">Registration number</label>
            <input type="text" class="form-control" id="registration_number" name="registration_number"
                   value="{{ study_data["registration_number"] }}" hx-post="/study/update_field/{{ study_id }}/registration_number"
                   hx-trigger="change" hx-target="#registration_number_info" hx-swap="innerHTML"/>
            <div class="form-text">Registration number (NCT, etc.)</div>
            <div id="registration_number_info" class="form-text"></div>
        </div>

    </form>

{%  endblock %}