{% extends 'base_study_fullscreen.html' %}

{% block col2 %}

    <ul class="nav nav-tabs mt-0 mb-4">
        <li class="nav-item">
            <a class="nav-link " aria-current="page"
               href="/study/fullscreen/tab1/{{ study_id }}/{{ project_id }}/{{ record_id }}">Study</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               href="/study/fullscreen/fields/{{ study_id }}/{{ project_id }}/{{ record_id }}">Fields</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/study/fullscreen/ROB/{{ study_id }}/{{ project_id }}/{{ record_id }}">ROB</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/study/fullscreen/outcomes2/{{ study_id }}/{{ project_id }}/{{ record_id }}">Outcomes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/study/fullscreen/chat/{{ study_id }}/{{ project_id }}/{{ record_id }}">Ask the paper</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/study/fullscreen/experimental/{{ study_id }}/{{ project_id }}/{{ record_id }}">Experimental</a>
        </li>
    </ul>


<p>
<a href="/study/llamaindex_extract/{{ study_id }}/{{ project_id }}/{{ record_id }}" >
    data extraction using llamaindex extract (PDF)
</a>
</p>
<p>
<a href="/study/llamaindex_extract_outcomes/{{ study_id }}/{{ project_id }}/{{ record_id }}" >
    outcomes extraction using llamaindex extract (PDF)
</a>
</p>



<p>
<a href="/study/llamaindex_parse/{{ study_id }}/{{ project_id }}/{{ record_id }}" target="_blank">
    llamaindex parse (PDF)
</a>
</p>



{%  if extracted_data %}
    <h4>Extraction using Llamaindex extract</h4>
    {% for k,e in extracted_data.items() %}
        <h5 class="mt-5">{{ e['field_name'] }}</h5>
        <p>{{ e['extracted_value'] }}</p>
        <p style="font-size: smaller; margin-bottom: 10px;">{{ e['source'] | safe }}</p>
    {% endfor %}
{% endif %}


{% endblock %}