{% extends 'base_study_fullscreen.html' %}

{%  block col2 %}

<ul class="nav nav-tabs mt-0 mb-4">
  <li class="nav-item">
    <a class="nav-link" href="/study/fullscreen/tab1/{{ study_id }}/{{ project_id }}/{{ record_id }}">Study</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/study/fullscreen/fields/{{ study_id }}/{{ project_id }}/{{ record_id }}">Fields</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/study/fullscreen/ROB/{{ study_id }}/{{ project_id }}/{{ record_id }}">ROB</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/study/fullscreen/outcomes2/{{ study_id }}/{{ project_id }}/{{ record_id }}">Outcomes</a>
  </li>
</ul>

    <form>
    <div class="mt-0 mb-0">
        <div class="dropdown" style="float: right; margin-right: 1em;">
            <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-list"></i> menu
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                    {%  if record_id==0 %}
                        <p class="mx-3" style="color: red;">Select a reference</p>
                    {% endif %}
                    <li>
                        <a class="dropdown-item {% if record_id==0 or data_fields==[] or not primary_LLM_available %}disabled{% endif %}"
                           href="/study/fullscreen/fields/{{ study_id }}/{{ project_id }}/{{ record_id }}/1" onclick="loading()">
                            <i class="bi bi-stars"></i> AI extraction from abstract
                            {%  if not primary_LLM_available %}
                                <span style="color: red;">LLM isn't set</span>
                            {% endif %}
                            {%  if data_fields==[] %}
                                <span style="color: red;">No extraction field declared</span>
                            {% endif %}
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item {% if record_id==0 or data_fields==[]  or not pdf_exists or not primary_LLM_available%}disabled{% endif %}"
                           href="/study/fullscreen/fields/{{ study_id }}/{{ project_id }}/{{ record_id }}/2" onclick="loading()">
                            <i class="bi bi-stars"></i> AI extraction from PDF
                            {%  if not pdf_exists %}
                                <span style="color: red;">PDF not available</span>
                            {% endif %}
                            {%  if not primary_LLM_available %}
                                <span style="color: red;">LLM isn't set</span>
                            {% endif %}
                            {%  if data_fields==[] %}
                                <span style="color: red;">No extraction field declared</span>
                            {% endif %}

                        </a>
                    </li>

                    <li>
                        <a class="dropdown-item {% if record_id==0 or data_fields==[] or not pdf_exists or not secondary_LLM_available %}disabled{% endif %}"
                           href="#"
                           hx-get="/study/check_extraction/{{ study_id }}/{{ project_id }}/{{ record_id }}"
                           hx-trigger="click" hx-target="#AI_check" hx-swap="innerHTML" hx-indicator="#loader" >
                            <i class="bi bi-stars"></i> AI checking extraction
                            {%  if not pdf_exists %}
                                <span style="color: red;">PDF not available</span>
                            {% endif %}
                            {%  if not secondary_LLM_available %}
                                <span style="color: red;">secondary LLM isn't set</span>
                            {% endif %}
                            {%  if data_fields==[] %}
                                <span style="color: red;">No extraction field declared</span>
                            {% endif %}
                        </a>
                    </li>


                    <li>
                        <a class="dropdown-item disabled"
                           href="/AI/compare1/{{ study_id }}/{{ project_id }}/{{ record_id }}/2" onclick="loading()">
                            compare models for extraction
                            {%  if not primary_LLM_available %}
                                <span style="color: red;">LLM isn't set</span>
                            {% endif %}
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item disabled"
                           href="/AI/compare2/{{ study_id }}/{{ project_id }}/{{ record_id }}/2" onclick="loading()">
                            compare models for extraction checking
                            {%  if not primary_LLM_available %}
                                <span style="color: red;">LLM isn't set</span>
                            {% endif %}
                        </a>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a href="" class="dropdown-item disabled">
                            ???
                        </a>
                    </li>
            </ul>
        </div>
        &nbsp;
    </div>


    <div id="AI_check" class="" style=""></div>

    <div id="loading"  style="display: none; text-align: center; font-size: large;">
        <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Chargement...</span>
        </div>
    </div>
    <script>
    function loading() {
        document.getElementById("loading").style.display = "block";
    }
    </script>

    <div id="loader" class="htmx-indicator" style="text-align: center; font-size: large; ">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Chargement...</span>
      </div>
    </div>

    {% if data_fields == [] %}
        <div class="alert alert-warning mt-5" role="alert" style="margin-top: 3em;">
        <h4 class="alert-heading">Warning. No extraction field declared</h4>
        <p>No extraction field declared</p>
                <p class="mb-0">
            You can add extraction fields in the
                    <a class="btn btn-primary btn-sm " href="/project/update_fields/{{ project_id }}">setup project tab</a>
        </p>
        </div>
    {% endif %}

        {% for f in data_fields %}
            <div class="row gt-3 mb-1 mt-4">
                <div class="col-md-12" >
                    <label for="F{{ f['field_name'] }}" class="form-label fw-semibold">{{ f['label'] }}</label>
                    <textarea rows=2 class="form-control" id="F{{ f['field_id'] }}" name="F{{ f['field_id'] }}"
                           hx-post="/study/update_field2/{{ study_id }}/{{ f['field_id'] }}"
                           hx-trigger="change" hx-target="#F{{ f['field_id'] }}_info" hx-swap="innerHTML">{{ f['value'] }}</textarea>
                    <div class="form-text">{{ f['description'] }}</div>
                    <div id="F{{ f['field_id'] }}_info" class="form-text"></div>
                </div>
            </div>

            {%  if f['field_id'] in AI_data %}
            <div class="row gt-3 mb-3 mt-0 ">
                <div class="col-md-11 form-floating">
                    <textarea class="form-control" style="font-size: small; background-color: lavender; height: 4rem;"
                              id="AI_{{ f['field_id'] }}" name="AI_{{ f['field_id'] }}">{{ AI_data[f['field_id']] }}</textarea>
                    <label for="AI_{{ f['field_id'] }}"> ✨ AI suggestion</label>
                </div>
                <div class="col-md-1 align-middle" >
                    <a class="btn btn-outline-primary btn-sm align-middle"
                       href="javascript:void(0)" onclick="save_AI('{{ f['field_id'] }}')">
                        save
                    </a>
                </div>

            </div>
            {%  endif %}


        {% endfor %}
    </form>
<script>
function save_AI(field_id) {
    var AI_value = document.getElementById("AI_"+field_id).value;
    document.getElementById("F"+field_id).value = AI_value;
    document.getElementById("F"+field_id).dispatchEvent(new Event('change'));
}
</script>




{%  endblock %}